<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <header>
    <nav>
      <li>
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'account_list' %}">Accounts</a>
        {% endif %}
      </li>
    </nav>
  </header>
  <body>
    <main>
      <div>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of receipts</th>
          </thead>
          <tbody>
            {% for items in model %}
            <tr>
              <td>{{ items.name }}</td>
              <td>{{ items.receipts.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
